*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.color{
    background-color: red;
}

ul{
    list-style: none;
}


/* Navbar */

nav{
    z-index: 20;
    position: fixed;
    width: 100%;
}

nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #314754;
    color: white;
    border: none ;
    height: 70px auto;
}

nav .ms-n5 {
    margin-left: -40px;
}

nav ul .logo{
    border: 0px;
    padding:0; 
    margin:0;
    border-collapse: collapse; font-size: 40px; 
    text-decoration: none; 
    color:white; 
    text-shadow: -10px 8px 2px rgb(49, 49, 49);
}

nav ul .items{
    padding: 0 20px;
    display: inline-flex;
}

nav ul .items a{
    color: #ffff;
    text-decoration: none;
    font-size: 25px;
    margin: 0 0 0px 50px;
    padding: 0 2px;
}

nav ul .items a:hover{
    background-color: #7C9784;
}

nav ul .items img{
    margin-left: 80px;
}

nav ul .search-icon{
    display: flex;
    margin: 0 90px 0 0;
}

nav ul .search-icon input{
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 20px;
    padding-left: 70px;
}

nav ul .icon{
    align-items: center;
    position: relative;
    left: 50px;
}

.menuimage img{
    margin:0 20px;
    cursor: pointer;
}

/* Navbar Sub Menu */

.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 250px;
    height: 200px;
    background: #314754;
    border-radius: 4px;
    overflow: hidden;
    top: 60px;
    right: 0.05%;
    padding: 10px 0 10px 30px;
    border-radius: 0px 0px 0px 50px;
    max-height:0;
    transition: max-height 0.3s;
    visibility: hidden;
}

.settings-menu-height{
    max-height: 200px;
    visibility: visible;
    z-index: 2;
}
.settings-menu img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
}

.settings-menu .row a{
    display: absolute;
    font-size: 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.settings-menu .row a p{
    max-width: 14ch;
    margin-top: 15px;
    font-size: 15px;
    margin-left: -10px;
}

.settings-menu hr{
    color: white;
    margin-top: 10px;
}

.settings-menu-inner a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}


.settings-menu-inner p, .profile h2, .homethread .toppost h4, .threadcreatorname h3,
.reaction input, .totalcomments input, .profilecontent h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userpic{
    height: 53px;
    width: 53px;
    background: #FFF;
}



/* Modal Banner and Profile */

.covermodal{
    background-color: rgba(0,0,0, 0.9);
    width:100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

#coverpage:target, #profilepage:target{
    opacity: 1;
    visibility: visible;
}
    
.changecover_profile{
    width: 500px;
    height: 400px;
    background-color: #FEDB97;
    margin: 150px 0 0 470px;
    position: absolute;
}

.navbarsmall {
    background-color: #314754;
    width: 100%;
    height: 40px;
}

.changecover_profile .imagesmall{
    width: 100%;
    height: 35%;
}

.profilesmall{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #E5E5E5;
    border: solid 1px #314754;
    margin-top: -15%;
    margin-left: 5%;
    flex-wrap: wrap;
    z-index: 2;
}

.smallcontent input{
    margin: 20px 0 0 140px;
}

#coverpage .smallcontent h4{
    margin: 10px 0 0 150px;
    font-weight: bold;
}

.smallcontent button{
    padding: 8px 20px;
    background-color: #7C9784;
    font-weight: bold;
    border: none;
    border-radius: 10%;
    color: white;
    cursor: pointer;
}

#coverpage .smallbutton1{
    margin: 60px 0 0 40px;
}

#coverpage .smallbutton2, #profilepage .smallbutton2 {
    margin: -40px 0 0 360px;
    position: absolute;
}

.smallcontent button:hover{
    background-color: #314754;
    color: white;
}

.reviewprofile{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 150px;
    border: solid 1px black;
    background-color: white;
}

.reviewprofile img{
    width: 100%;
    height: 100%;
}

#profilepage .smallbutton1{
    margin: 30px 0 0 40px;
}

#profilepage .smallcontent h4{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

/* Banner Photo */
.cover{
    padding-top: 60px;
    position: relative;
    background-repeat: no-repeat;
    height: 430px;
}

/* lagyan ng  object-fit: cover; sa #coverphoto at #profilephoto pag ayaw na narereduce yung height nung picture */
#coverphoto, #profilephoto{
    height: 100%;
    width: 100%;
}

.cover .bannercrud{
    background: #7C9784;
    width: 175px;
    height: 45px;
    top: 385px;
    left: 87%;
    padding: 10px;
}
.bannercrud{
    position: absolute;
    color: white;
}

.bannercrud h6{
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;    
    cursor: pointer;
}

.bannercrud img{
    margin-top: -44px;
    float: right;
    cursor: pointer;
}

.photomenu{
    position: absolute;
    right: 0.1px;
    margin-top: 2px;
    background-color: #314754;
    display: none;
}

.photomenu li, .profilelabel ul li{
    padding: 0 15px 0 10px;
    margin: 10px 0 0 10px;
}

.photomenu li a{
    text-decoration: none;
    color: white;
    padding: 8px;
}

.photomenu li button{
    background-color:#314754;;
    border: none;
    color: white;
    padding: 8px;
}

.bannercrud:hover .photomenu{
    display: block;
    width: 175px;
    height: 90px;
}

.photomenu li a:hover, .photomenu li button:hover{
    background-color: #7C9784; 
}


/* Profile Picture*/

/* yung pervcentage na width sa profile ay 89% ginawa kong percentage para sumunod pag lumiit
at yung height ay 38%
*/

.container hr{
    margin-top: -5px;
}
.profile {
    width: 380px;
    height: 200px;
    background: #FEDB97;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
}

.profileimage{
    position: absolute;
    width: 300px;
    height: 300px;
    background: #E5E5E5;
    border: solid 1px #314754;
    margin: -200px 0 0 40px;
    z-index: 2;
}


.profile .bannercrud:hover h6{
    display: block;
}

.profile .bannercrud img{
    margin-left: 247px;
}

.profile .bannercrud h6{
    background: #7C9784;
    margin-top: -40px;
    padding: 5px 10px;
    width: 175px;
    height: 40px;
    margin-left: 120px;
    display: none;
}

.profile .photomenu{
    margin-top: -8px;
}


#fileprofile{
    display: none;
}
.profile h2{
    font-size: 20px;
    text-align: center;
    margin-top: 110px;
    font-weight: bold;
    padding: 0 20px;
    width: 380px;
}

.profilecontent h4{ 
    padding-left: 60px;
    font-size: 15px;
    font-weight: bold;
    width: 330px;
}

.personalinfo{
    margin: 20px 0;
    background-color: #FEDB97;
    width: 380px;
    height: 300px;
    border-radius: 20px;
}

.personalinfo h1{
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
}


/*Threads*/

.threads h1{
    margin-top: 20px;
    text-align: center;
    background-color: white;
}

.threadscontent .container{
    background-color: white;
    padding-top: 20px;
}

.circleimage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #E5E5E5;
    margin-left: -10%;
}

.userprofile{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.threadscontent .row h2{
    font-size: 15px;
    margin-left: -13%;
}

.threadscontent .row a, .homethread .row a, .comments a{
    color: black;
    text-decoration: none;
}

.threadscontent .row a:hover, .homethread .row a:hover, .comments a:hover{
    text-decoration: underline;
    color: black;
}
.threadscontent .row h4{
    font-size: 20px;
}

.threadscontent .row h4,
.threadscontent .row p{
    font-weight: bold;
    margin: 5px 0 0 -10% ;
}

.threadscontent .row .dropdown{
    margin: -56px 0 0 670%;
}
.threadscontent .row p{
    font-size: x-small;
    padding: 15px;
}

.threadscontent .row h6{
    margin: 0 12px 0 -10%;
    padding-top: 10px;
    text-indent: 10px;
    text-align: justify;
    word-break: break-word;
}

.threadscol .row h3{
    font-weight: bold;
    font-size: 20px;
}
.threadscol img{
    width: 30px;
    height: 30px;
}

.threadscol .row h4{
    font-size: 15px;
    margin-top: 5px;
}

.threadscol .row h6{
    font-size: 15px;
    font-weight: bold;
    margin-top: -4.5px;
    
}
.dropdown input{
    display: none;
    margin-top: -5px;
}

.dropdown button{
    border-radius: 20px;
    color: inherit;
    border: none;
    padding: none;
}

.dropdown button img{
    width: 40px;
    height: 40px;
}

.dropdown ul{
    background-color: #314754;
    text-align: center;
    width: 1px;
}

.dropdown ul label li, .dropdown ul a, .dropdown ul a li{
    color: white; 
    text-decoration: none;
}

.dropdown ul li:hover, .dropdown ul a:hover{
    background-color: #7C9784;
    color: white;
    cursor: pointer;
}


/*Home */

.topnamebox{
    background-color: #314754;
    margin-top: 76px;
    margin-left: -2%;
    width: 39%;
    height: 500px auto;
}

.topnamebox .top, .topnamebox .allcat, .randomthreadtitle .top{
    height: 71px;
    background: #FEDB97;
    margin-bottom: 10px;

}

.top h2, .allcat h2{
    font-size: 20px;
    padding: 20px 10px;
    text-align: center;
}

.topname a, .categories p a{
    text-decoration: none;
    color: white;
}

.topname, .categories{
    padding: 10px 20px;
}

.topnamebox p, .randomthreadtitle{
    color: white;
    line-height: 10px;
}

.categories a:hover, .topname a:hover{
    text-decoration: underline;
    color: white;
}


.createthread{
    margin-top: 16%;
    margin-left: -50%;
    background-color: white;
    padding-top: 20px;
}

.createthread hr{
    margin-left: -60px;
    color: #314754;
}

.createthread .circleimage, .comments .circleimage{
    margin-left: 20px;
}

.threadbox a{
    text-decoration: none;
    color: black;
}

.threadbox a p{
     color: black;
     padding: 15px 20px;
}

.threadbox{
    border: 1px solid #314754;
    width: 60%;
    height: 55px;
    margin-left: 100px;
    margin-top: -50px;
    border-radius: 10px;
}

.threadbox:hover{
    background-color: #B6B682;
}

.divcategor{
    width: 150px;
    height: 40px;
    border: 1px solid #314754;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: -110%;
    background: white;
}

.divfilter{
    width: 300px;
    margin-left: 13px;
}

.divfilter select{
    width: 100%;
    height: 40px;
    padding: 0 10px 0 85px;
    border-radius: 20px;
    border: 1px solid #161611;
    cursor: pointer;
}

.divfilter select::-ms-expand{
    display: none;
}

.divfilter select:focus{
    outline: none;
    box-shadow: 0 0 10px -1px #314754 ;
}

.divfilter::after{
    content: '\25BC';
    position: absolute;
    margin-left: -25px;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
    background: #314754 ;
    color: white;
    padding: 8px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.divfilter .labelfilter{
    position: absolute;
    z-index: 4;
    display: inline-block;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 15px;
}

.divfilter select option{
    column-count: 2;
}

.categoriesdiv{
    margin-top: 25px;
    margin-left: -390px;
    height: 40px;
    background-color:  #314754;
    padding-left: 40px;
}

.categoriesdiv h3{
    color: #FEDB97;
    font-weight: bold;
    padding-top: 3px;
}

.homethread{
    background-color: rgb(253,240,213, 0.4);
    margin-left: -390px;
    padding-bottom: 20px;

}   

.homethread .circleimage{
    margin: 20px 0 3px 50px;
}

.toppost{
    display: grid;
    grid-template-columns: 10% 80%;
}

.toppost a{
    color: black;
    text-decoration: none;
}

.toppost a:hover{
    color: black;
    text-decoration: underline;
}


.homethread .toppost h2{
    font-size: 15px;
    margin: 25px 0 0 10px;
}


.homethread .toppost h4{
    font-size: 18px;
    margin: 0 0 0 25px;
    width: 800px;
}

.homethread .toppost p{
    margin-top: -38px;
    margin-left: 600px;
    font-size: 10px;
    font-weight: bold;
}

/* View Thread */


.viewthreadpic{
    width: 230px;
    height: 230px;
    margin-left: 100px;
    margin-top: 100px;
    background: #E5E5E5;
}

.viewthreadpic img{
    width: 100%;
    height: 100%;
}

.threadcreatorname{
    width: 230px;
    height: 50px;
    margin-left: 100px;
    background: #FEDB97;
    text-align: center;
}

.threadcreatorname h3{
    font-size: 20px;
    padding: 15px 10px 0 10px;
}

.threadcreatorname a{
    color: black;
    text-decoration: none;
}

.threadspost{
    margin-top: 130px;
    margin-left: 50px;
    background-color: white;
}

.threadspost h1{
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: gray;
}

.threadspost h3{
    margin: -10px 60px 0 10px; 
    font-size: 20px;
    text-indent: 50px;
    text-align: justify;
    word-break: break-word;
}

.threadspost h6{
    margin-top: 30px;
    font-size: 15px;
    margin-bottom: 40px;
}

.threadspost .row button {
    margin-left:120%;
}

.reaction{
    border: 0.1px solid #FEDB97;
    border-radius: 20px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 60px;
}

.profilereaction{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: -70px;
}

.threadmore input, .profilereaction input{
    width: 50px;
    border: none;
    background: none;
    color: black;
    font-size: 15px;
    margin: 0 10px;   
    pointer-events: none;
}

.reaction button, .profilereaction button {
    color: rgb(49,71,84);
    background: none;
    border: none;    
    cursor: pointer;
}

.threadspost .reaction button{
    padding: 10px 0 10px 30px;
    width: 100%;
    height: 100%;
}

.comments .reaction button, .threadscontent .reaction button{
    padding: 0 15px;
    margin: 10px 0 10px 20px;
}

.threadmore .profilereaction{
    margin-right: 50px;
    padding: 20px;
}

button:active{
    color: #314754;
    transform: scale(1.2);
}

.reaction div:hover{
    background-color: #FEDB97;
}

.upbutton{
    border-radius: 20px 0 0 20px;
}

.downbutton{
    border-radius: 0 20px 20px 0;
}

.threadscontent .totalcomments, .threadspost .totalcomments{
    margin: 0 60px 0 -30px;
    padding-top: 5px;
}

.threadspost .totalcomments{
    margin-left: 10px;
}

.totalcomments img{
    width: 30px;
    height: 30px;
}

.whatcategory{
    display: flex;
    padding-top: 10px;
}

.whatcategory h4{
    font-size: 15px;
    margin-top: -2px;
    font-weight: normal;
}

.threadscontent .threadmore .whatcategory h4{
    font-weight: normal;
    font-size: 15px;
    margin: -5px 0 0 -40px;
}

.threadscontent .threadmore .whatcategory a{
    margin-top: -7px;
}

.whatcategory h3{
    font-size: 15px;
    margin: -10px 0 0 -40px;
}

.whatcategory a{
    font-size: 15px;
    margin: -4px 0 0 5px ;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.whatcategory a:hover{
    text-decoration: underline;
    color: black;
}

.threadmore{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
}

hr.between{
    border: 1px solid #314754;
    opacity: 100%;
    margin: 20px 0;
}

.discussion h3, .randomthreadtitle .top h2{
    text-align: center;
    color: black;
}


.randomthreadtitle{
    background-color: #314754;
    margin: 0 0 0 40px;
    width: 90%;
    height: 500px auto;
}

.randomthreadtitle a{
    color: white;
}

.comments{
    background-color: #FEDB97;
    margin: 20px 0 20px 60px;
    width: 92%;
    height: auto;
    border-radius: 20px;
    padding: 20px 20px 10px 20px;
}

.comments h2{
    font-size: 18px;
    margin: -35px 0 0 80px;
}

.commentdropdown{
    margin: -50px 0 0 95%;
}

.commentuser p{
    padding: 0 20px 0 80px;
    font-size: 15px;
    text-indent: 20px;
    text-align: justify;
    word-break: break-word;
}

.discussion .threadmore{
    margin-left: 80px;
}

.commentuser .text{
    margin-left: -75px;
    width: 120%;
    height: 10px auto;
    padding: 10px 20px 10px  20px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    margin-top: -5px;
}

.commentuser button{
    margin: 10px 0 10px 250px;
}

.commentuser button, .comment_edit button{
    border: none;
    background-color: #B6B682;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
}

.commentuser button:hover, .comment_edit button:hover{
    background-color: #314754;
    color: white;
}

.comment_edit{
    margin-left: 73px;
}

.comment_edit .text{
    width: 97.5%;
    height: 10px auto;
    padding: 10px 20px 10px  20px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    margin-top: -5px;
}

.comment_edit .button1{
    margin-right: 550px;
}

.comment_edit button{
    margin: 10px 0 10px 0;
}


/*Loading*/

.loading {
    display: flex;
    margin-left: 60px;
  }
  
  .loading--full-height {
    align-items: center;
    height: 100%;
  }
  
  .loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #FEDB97;
    border-top-color: #314754;
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: loading 1s ease infinite;
  }
  
  @keyframes loading {
    /* Safari support */
    from {
      transform: rotate(0turn);
    }
    
    to {
      transform: rotate(1turn);
    }
  }



@media (max-width: 839px){
    nav ul .search-icon{
        display: flex;
        margin: 10px 50px 15px 0;
    }
}

@media (max-width: 759px){
    nav ul .icon{
        display: none;
    }
}


/*loading screen*/
body{
    background-color: #f7c607;
    padding: 0;
    margin: 0;  

}


/* Notification */

.notification_icon{
    position: absolute;
    font-size: 40px;
    color: #314754;
    margin: -60px 0 0 59%;
}

 .notification_icon .fa-bell{
    cursor: pointer;
}

 .notifdropdown{
    position: absolute;
    width: 370px;
    max-height: 400px;
    background-color: #314754;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.125);
    margin: 15px auto 0;
    padding: 15px;
    position: relative;
    overflow-x: hidden;
    z-index: 10;
    display: none;
}

.notify_item .dropdown{
    margin-left: 290px;
    margin-top: -60px;
    margin-bottom: 20px;
}

.notify_item a:hover .notify_item .dropdown{
    display: block;
}
 .notifdropdown .notify_item a{
    display: flex;
    align-items: center;
    padding: 10px 0;
    text-decoration: none;
    color: white;
}

.notifdropdown .notify_item {
    border-bottom: 1px solid white;
}


 .notifdropdown .notify_item .notify_img{
    margin-right: 15px;
    margin-left: -5px;
}

 .notifdropdown .notify_item .notify_info p{
    margin-bottom: 5px;
}

 .notifdropdown .notify_item .notify_info p span{
    color: #605dff;
    margin-left: 5px;
}

 .notifdropdown .notify_item .notify_info .notify_time{
    color: white;
    font-size: 12px;
}

.notifdropdown.active{
    margin-left: 45%;
    margin-top: -5px;
    position: absolute;
    display: block;
}

.notify_item p{
    color: white;
    text-align: center;
}


.row h6 img{
    max-width: 800px;
    max-height:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px outset #314754;
}

.threadscontent .row h4{
    font-size: 20px;
}
